body{
    background-image: url("Imgs/image1.jpg");
    background-size: cover;
}

div{
    height: 500px;
    width: 500px;
    background-color: rgb(254, 198, 92);
    margin: 20px;
    opacity: 0.8;
}

#up{
    padding: 10px;
}

#form{
    background-color:rgb(239, 239, 206);
    margin: 0px;
    padding: 20px;
}